@import 'reset';
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://use.fontawesome.com/d2b6c53020.js');

body {
	font-family: 'Roboto', sans-serif;
}

@mixin flex-box ($justify-content, $align-items) {
	display: flex;
	@if $justify-content {
		justify-content: $justify-content;
	}

	@if $align-items {
		align-items: $align-items;
	}
}

.table-wrapper {
	a {
		text-decoration: none;
	}

	header {
		@include flex-box (null, center);
		background-color: $header-bg-color;
		color: $header-font-color;
		height: $header-height;
		h2 {
			padding: $padding-left-right;
		}
	}

	.toolbar-footer {
		@include flex-box (space-between, center);
		padding: $padding-left-right;
	}

	.toolbar{
		@extend .toolbar-footer;
		height: $toolbar-height;
	}

	.footer {
		@extend .toolbar-footer;
		height: $footer-height;
		
	}

	.table {
		width: 100%;
		thead a {
			color: $table-tr-font-color-header;
		}

		tbody tr{
			&:nth-child(2n) {
				background-color: $table-tr-bg-2n-color;
			}

			&:hover {
				background-color: $table-tr-bg-hover;
				td {
					color: #fff;
				} 
			}
		}

		tr {
			height: $table-tr-height;
			td, th {
				line-height: $table-tr-height;
				text-align: left;
				padding: $padding-left-right;
			}

			th {
				text-transform: uppercase;
				background-color: $table-tr-bg-header-color;
			}

			td {
				color: $table-tr-font-color-tbody;
			}
		}
	}

	.filter-box, .length-box {
		input, select {
			height: $input-select-height;
		}

		input {
			padding: $padding-left-right;
		}
	}

	.pagination-list {
		@include flex-box (flex-end, null);
	}

	.dataTables_info {
		color: $pagination-info-font-color;
	}

	.paginate-button {
		@include flex-box (center, center);
		height: $pagination-button-height;
		width: $pagination-button-width;
		border: 1px solid $pagination-button-border-color;
		border-right: 0;
		a {
			color: $pagination-button-font-color;
		}
	 	&:nth-last-child(1){
			border-right: 1px solid $pagination-button-border-color;
		}
  }

  li.disabled:hover a{
    cursor: not-allowed;
  }
}